APP_NAME=multi-tenant-app
DESCRIPTION=Multi-Tenant Application Example
DEBUG=True
VERSION=0.1.0
ENV=dev

# Tenancy Configuration Strategy
# Options: "file" or "database"
TENANCY_CONFIG_PROVIDER=file

# If provider is "file":
TENANT_CONFIG_FILE_PATH=tenants_config.json

# If provider is "database":
TENANT_CATALOG_DB_URI=postgresql://user:password@localhost:5432/tenant_catalog
