# Application Info
APP_NAME=multi-tenant-app
DESCRIPTION=Multi-Tenant Application Example
VERSION=0.1.0

# Environment
ENV=dev
DEBUG=True

# TENANCY
TENANCY_CONFIG_PROVIDER=file
TENANCY_CONFIG_FILE_PATH=tenants.json

# Workers
WORKERS=2
